<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-4 f-w-400">Change your password</h4>
            <form [formGroup]="form">
              <div *ngIf="!sessionId" class="form-group mb-2">
                <input formControlName="currentPassword" type="password" class="form-control" placeholder="Current Password">
              </div>
              <div class="form-group mb-2">
                <input formControlName="password" type="password" class="form-control" [ngClass]="{'is-invalid': !form.get('password').valid && (form.get('password').dirty || form.get('password').touched)}" placeholder="New Password">
              </div>
              <div class="form-group mb-4">
                <input formControlName="password2" type="password" class="form-control" placeholder="Re-Type New Password">
              </div>
            </form>
            <button (click)="changePassword()" class="btn btn-block btn-primary mb-4">
              <span *ngIf="loading" _ngcontent-haf-c121="" role="status" class="spinner-border spinner-border-sm"></span>
              <ng-container *ngIf="!loading">Change password</ng-container>
              <ng-container *ngIf="loading">Loading...</ng-container>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
